---
http_interactions:
- request:
    method: get
    uri: https://api.thedogapi.com/v1/breeds/search?q=Chihuahua
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - dog_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 70ms
      X-Cloud-Trace-Context:
      - 85d8bd8a4b3d45561bcfaec1e1dbe5d2
    body:
      encoding: UTF-8
      string: '[{"weight":{"imperial":"6","metric":"3"},"height":{"imperial":"5","metric":"13"},"id":77,"name":"Chihuahua","bred_for":"Companionship","breed_group":"Toy","life_span":"12
        - 20 years","temperament":"Devoted, Lively, Alert, Quick, Courageous"}]'
  recorded_at: Tue, 22 Mar 2022 16:49:20 GMT
recorded_with: VCR 6.1.0
